.btn-custom-yellow {
    background-color: #ffc107; /* Change this hex code to your desired shade of yellow */
    color: #212529; /* Set the text color */
    border-color: #ffc107; /* Set the border color */
}

.btn-custom-yellow:hover {
    background-color: #e0a800; /* Change this hex code to your desired hover color */
    border-color: #e0a800; /* Set the hover border color */
}
table th {
    font-weight: bold;
  }

  